.custom-table {
    border: 1px solid var(--grey-4);
    box-sizing: border-box;
    border-radius: 24px !important;
    overflow: hidden;

    .v-data-table-header {
        background-color: var(--grey-3);
    }

    th,
    td {
        border-left: 1px solid var(--grey-4);
        font-size: 12px !important;
        &:last-child {
            border-left: none;
        }
    }

    .v-data-table__expanded {
        box-shadow: none !important;
    }

    .detail-td {
        padding: 5px 0;

        .v-btn {
            margin: 5px;
            font-size: 12px;
        }
    }
}