.signup-step1 {
    flex: 1;
    // .form {
    //     height: 100%;
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    //     flex-direction: column;
    // }
    .form-action {
        margin-top: 25px;
    }
    .v-btn {
        width: 100%;
        &:first-child {
            margin-bottom: 25px;
        }
    }
}