.signup-step2 {
    flex: 1;

    .form {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .form-field {
            margin-left: 0;
            width: 350px;
            input {
                letter-spacing: 7px;
                text-align: center;
            }

            .line__timer {
                height: 3px;
                background-color: var(--primary-lightest);
                margin-top: 15px;
                margin-bottom: 5px;
                display: flex;
                border-radius: 8px;
                overflow: hidden;
                flex-direction: row-reverse;
                span {
                    background-color: var(--primary-main);
                    width: 50%;
                    animation: fill 120s normal;
                }

                @keyframes fill {
                    0% {
                        width: 0;
                    }
                    100%{
                        width: 100%;
                    }
                }
            }

            .resend {
                margin-top: 5px;
                //styleName: Desktop/Caption;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 18px;
                letter-spacing: 0em;
                text-align: left;
                color: var(--primary-main);
                cursor: pointer;

                &.disable {
                    opacity: 0.5;
                    pointer-events: none;
                }

            }
        }

    }

    .form-action {
        width: 100%;
        margin-top: 20px;
    }
    .v-btn {
        width: 350px;

        &:first-child {
            margin-bottom: 10px;
        }
    }
}